@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



#content {
    
    width: 98%;
    height: 98vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
}

#left__side {
   
    width: 30%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    background-color: #4E2C73;
    align-items: center;
    border-radius: 10px 30px 20px 40px;
}

#content > #left__side > button {
    width: 200px;
    height: 60px;
    background-color: #C0C0C0;
    border-radius: 20px;
    font-size: 22px;
    color: #4E2C73;
}

#right__side {
    width: 70%;
    height: 82vh;
    display: flex;
    
    background-color: #C0C0C0;
}

#btn__submit {
    margin-top: 20px;
}

#input__form {
    width:140px;
    height: 38px;
    border-radius: 12px;
}

#input__btn {
    width:42px;
    height: 40px;
    border-radius: 12px;
    background-color: #C0C0C0;
    font-size: 18px;
    color: #4E2C73;
}

/* HOME */

.main__heading {
    opacity: 0.4;
    color: #C0C0C0;
    font-family: 'Poor Story', system-ui;
    font-size: 86px;
    letter-spacing: 12px;
    

}


.div__card {

  width: 300px;
  height: 200px;
  margin-top: 4px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #4E2C73;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

.card__heading {
    font-size: 28px;
    padding: 20px;
    color: #C0C0C0;
}

.item__sub {
    margin-left: 20px;
}